.idea
venv/
__pychache__/
*.db
*.sqlite3
*.db
# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
# macOS files
.DS_Store

# IDEs and editors
*.sublime-project
*.sublime-workspace


# VS Code files
.vscode/

*.cpython*